.App {
  text-align: center;
}

.titleFrame {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  vertical-align: top;
  display: inline-block;
  margin-right: 50px;
}

.tweet {
  vertical-align: top;
  display: inline-block;
  margin-left: 50px;
}

.outFrame {
  align-items: center;
}

.leftFrame {
  width: 350px;
  margin-top: 20px;
  border: 1px solid #21d586;
  height: 200px;
}

.rightFrame {
  width: 350px;
  margin-top: 20px;
  border: 1px solid #21d586;
  height: 200px;
}

.bigTitle {
  font-size: 50px;
}

.smallTitle {
  font-size: 30px;
  color: #21d586;
}

.cardStyle {
  height: 100px;
  border: 1px solid #2068e9;
}

.thoughtsCard {
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid #2068e9;
}

.titleCol {
  justify-content: center;
  display: flex;
  align-items: center;
}
